body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    background-color: #000;
    color: #E6C068; 
    text-align: center;
    padding: 10px;
    font-family: 'Lobster', cursive;
    overflow: auto; 
}

.logo {
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}

.logo img {
    width: 150px;
    height: auto;
}

.navbar {
    list-style: none;
    background-color: #000; 
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: right;
}

.navbar li {
    display: inline-block;
    margin-right: 20px;
}

.navbar li a {
    display: block;
    color: #E6C068;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #555;
    color: #fff;
}

.container {
    position: relative;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: transparent;
    color: #000;
}

.text-section {
    background-color: rgba(0, 0, 0, 0.1);
    background-image: url('/imageedit_2_8876052249.png');
    background-size: cover;
    background-position: center;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Lobster', cursive;
    color: #E6C068; 
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff; 
}

image-gallery {
    text-align: center;
    margin-top: 40px;
}

.image-gallery h2 {
    font-size: 24px;
    color: #E6C068; 
    margin-bottom: 20px;
}

.gallery-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.gallery-images img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #000;
    color: #E6C068;
    text-align: center;
    padding: 10px;
}

.contact-info {
    margin-top: 10px;
}

.contact-info p {
    font-size: 14px;
}